body {
    margin:0; padding:0;
}
.container{
    display:flex;
    background-color: black;
    justify-content: center;
}

.num{
    font-family:cursive;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px;
    padding: 15px;
    background-color: rgba(28, 27, 27, 0.447);
    border-radius: 10px;
}

.dots{font-size: 5em;}